extends layout 

block links
  link(rel='stylesheet' href='../public/styles/historia.css')
  
block title   
  title História

block main
  .container.container-fluid.p3
    h1 Como surgiu
    .container.d-flex.align-items-center.justify-content-sm-evenly
      p O primeiro país a usar as cotas foi a Índia, na década 50, para incluir as pessoas que eram excluídas do sistema de castas. Tinha duas ordenações de castas marginalizadas: os Dalits e os Sudras. Os dalits, que eram chamados de sem casta, foram marginalizados pelos outros cidadãos ao ponto de não serem dignos nem dos toques dos outros com a casta mais alta, porque iria “contaminar” o seu espírito. Já os Sudras eram a parte mais baixa das castas, vistos somente como servos e isso fazia com que eles ficassem com os piores empregos.
    img.img-fluid.castasimg.container.d-flex.align-items-center( src="../public/imgs/castas.png", alt="Weverton")
    
    h2 Cotas no Brasil 
    .container.d-flex.align-items-center.justify-content-sm-evenly
     p Em 2003 a Universidade do Estado do Rio de Janeiro (UERJ) foi a primeira a adotar um sistema de ações afirmativas. Já em 2004 a Universidade de Brasília (UnB) foi a primeira a usar o sistema de cotas. Em 2007 o Reuni foi um programa de expansão e investimento das universidades e institutos federais que ampliou o debate de cotas raciais. Dessa forma, em 2012 foi sancionada por unanimidade a Lei 12.711/12, que vai regulamentar o sistema de cotas nas universidades e institutos federais.
    img.img-fluid.escadaimg.container.d-flex.align-items-center( src="../public/imgs/minadaescada.jpg", alt="Weverton")