extends layout 

block links
  link(rel='stylesheet' href='../public/styles/index.css')
  
block title 
  title Cotas Raciais

block main
  main
  .container.container-fluid.p-3
    img.img-fluid.ajusteImg(src='../public/imgs/fotoCapa.png' alt='')
    h1.text-center Cotas Racias
    .container.d-flex.align-items-center.justify-content-sm-evenly
      img.img-fluid.indeximg(src='../public/imgs/index.png' alt='')
      p.text-center As cotas Raciais são vagas destinadas às minorias da população, como pessoas pretas, pardas, indígenas e com necessidades especiais. Ao total são 50% das vagas destinadas, por lei, a essas pessoas.