ul :nth-child(1) a {
    color:#E8A30C !important;
}

a:hover, .selected{
    background-color: #BC6E01;
    border-radius: 5px;
    color:black;
}
/*  #552723
    #604847
    #BFA588
    #7B533E
    #F3C937 */
.conteiner{
    position: relative;
    width: 80%;
    left: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner1 {
    position: relative;
    left: 18%;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner .textChild{
    position: relative;
}

.conteiner .textChild h1{
    text-transform: uppercase;
    margin-top: -3em;
    line-height: 4em;
    font-size: 1.9em;
    margin-left: -10%;
}

.conteiner .textChild p{
    text-align: justify ;
}

div ul{
    position: relative;
    display: flex;
}
div ul li{
    list-style-type: circle;
}

section{
    position: relative;
    min-height: 100vh;
    background-color: #eecd8f4d;
}