ul :nth-child(1n-1) a{
    color: rgba(0, 0, 0, 0.459) ;
}

ul :nth-child(1) a {
    color:#d69200;
}
h1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.pi{
    width: 40%;
}
/* .indeximg{
    /* padding-right: 30px; */
    /* width: 25%; */
    /* height: 150px; 
    border-radius: 30px
} */