.title{
    text-align: center;
    font-weight: 100;
    margin-bottom: 50px;
}
.subtitle{
    font-weight: 500;
}
tbody, td, tfoot, th, thead, tr{
    /* color: aqua; */
    font-weight: 300;
    text-align: center; 
    
}
.table>:not(caption)>*>*{
    border-bottom-width:2px ;
    border-bottom-color:#ffd4ca86 ;
}